<div class="row">
  <div class="input-field col s6">
    <input id="first_name" type="text" class="validate" [(ngModel)]="user.firstname">
    <label for="first_name">First Name</label>
  </div>
  <div class="input-field col s6">
    <input id="last_name" type="text" class="validate" [(ngModel)]="user.lastname">
    <label for="last_name">Last Name</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="email" type="email" class="validate" [(ngModel)]="user.email">
    <label for="email">Email</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="password" type="password" class="validate" [(ngModel)]="user.password">
    <label for="password">Password</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="password" type="password" class="validate" [(ngModel)]="confirmPassword">
    <label for="password">Confirm Password</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12 center">
    <a class="waves-effect waves-light btn-small" (click)="handleClick($event)"><i
        class="material-icons right">send</i>Register</a>
  </div>
</div>